<html>
<div ng-include="'/submodules/post/post.html'">
</div>
<div class="comments_container">
    <div class="comment_container" ng-show="!comments.length">
        No comments found
    </div>
    <div class="comment_container" ng-repeat="comment in comments track by $index">
        {{comment.getBody()}}
    </div>
</div>
<form class="comment_form" ng-submit="addComment()">
    <div class="field_heading">Comment</div>
    <textarea class="comment_input" type="text" ng-model="body_box"></textarea>
    <button class="submit_button" type="submit">Post</button>
</form>
<button class="float_btn" ng-click="goHome()">H</button>

</html>