/* Color Scheme: http://paletton.com/#uid=53t0u0k83Lb1cZJ4dU7ct-hhlsn */

html {
    background-color: #CEE1EB;
    font-family: "Verdana", "Geneva", sans-serif;
}

body {
    padding: 3%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    background-color: #A9ADD8;
}

div.post_container {
    position: relative;
    margin: 1.5%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    outline-style: solid;
    outline-width: 2px;
    outline-color: #D3D6EE;
    color: #535A9C;
    background-color: #F4F5FC;
}

div.post_container:hover {
    outline-color: #CEE1EB;
    background-color: #F2F8FB;
    color: #467690;
    outline-width: 3px;
}

div.post {
    word-break: break-all;
    margin-bottom: 30px;
    white-space: pre-line;
}

div.post .title {
    color: #7C82BB;
    font-size: 1.4em;
}

div.post_container:hover .title {
    color: #6E98AE;
}

button.float_add_btn {
    position: fixed;
    right: 30px;
    bottom: 30px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #7C82BB;
    border-color: #535A9C;
    border-style: none;
    color: #F4F5FC;
    font-size: 40px;
    outline: none;
}

button.float_add_btn:hover {
    right: 29px;
    bottom: 29px;
    width: 62px;
    height: 62px;
    cursor: pointer;
}

div.voting_section {
    width: 80px;
    float: right;
    margin: 2%;
}

div.voting_section * {
    margin: 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
}

div.voting_section button {
    background-color: transparent;
    border-style: none;
    outline: none;
    font-size: 1.5em;
    font-weight: bold;
    color: #A9ADD9;
}

div.voting_section button:hover {
    color: #7C82BB;
    cursor: pointer;
}

div.comments {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    width: 70%;
}

div.comments > button.comments_btn {
    background-color: transparent;
    border-style: none;
    outline: none;
    color: #A9ADD9;
}

div.comments > button.comments_btn:hover {
    color: #7C82BB;
    cursor: pointer;
}

div.comment_container {
    position: relative;
    color: #535A9C;
    border-color: #A9ADD9;
    border-width: 1px;
    border-bottom-style: solid;
    padding: 10px;
    white-space: pre-line;
}

div.comment_container:last-child {
    border-bottom-style: none;
}

div.comments_container {
    margin: 1.5%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    outline-style: solid;
    outline-width: 2px;
    outline-color: #D3D6EE;
    background-color: #F4F5FC;
}

/* This is an ugly bit of css that stops floated elements inside post_container
 * from collapsing */
div.post_container:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}

div.voting_section.upvoted > button.upvote_btn {
    color: #7C82BB;
}

div.voting_section.downvoted > button.downvote_btn {
    color: #7C82BB;
}

.hidden {
    display: none;
}

input.title_input {
    display: block;
    width: 100%;
    background-color: #F4F5FC;
    margin-bottom: 10px;
}

textarea.body_input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 50%;
    background-color: #F4F5FC;
    margin-bottom: 10px;
}

textarea.comment_input {
    display: block;
    width: 100%;
    background-color: #F4F5FC;
    margin-bottom: 10px;
}

div.field_heading {
    font-size: 10pt;
    color: #F4F5FC;
}

button.submit_button {
    width: 100%;
    height: 40px;
    outline-style: solid;
    outline-width: 2px;
    outline-color: #D3D6EE;
    color: #535A9C;
    background-color: #F4F5FC;
    border-style: none;
    font-size: 1em;
}

button.submit_button:hover {
    cursor: pointer;
    outline-color: #CEE1EB;
    background-color: #F2F8FB;
    color: #467690;
    outline-width: 3px;
}

form.comment_form {
    margin: 10px;
}

form.post_form {
    margin: 10px;
}
