/* Color Scheme: http://paletton.com/#uid=53t0u0k83Lb1cZJ4dU7ct-hhlsn */

html {
    background-color: #CEE1EB;
    font-family: "Verdana", "Geneva", sans-serif;
}

body {
    max-width: 80%;
    padding: 3%;
    margin-left: auto;
    margin-right:auto;
    margin-top: 5%;
    background-color: #A9ADD8;
}

div.post_container {
    margin: 1.5%;
    padding: 1%;
    outline-style: solid;
    outline-width: 2px;
    outline-color: #D3D6EE;
    color: #535A9C;
    background-color: #F4F5FC;
}

div.post_container:hover {
    outline-color: #CEE1EB;
    background-color: #F2F8FB;
    color: #467690;
    outline-width: 3px;
}

div.post .title {
    color: #7C82BB;
    font-size: 1.4em;
}

div.post_container:hover .title {
    color: #6E98AE;
}

button.float_add_btn {
    position: fixed;
    right: 30px;
    bottom: 30px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #7C82BB;
    border-color: #535A9C;
    border-style: none;
    color: #F4F5FC;
    font-size: 40px;
    outline: none;
}

button.float_add_btn:hover {
    right: 29px;
    bottom: 29px;
    width: 62px;
    height: 62px;
}

div.post_section {
    display: inline-block;
    width: 70%;
}

div.voting_section {
    display: inline-block;
    float: right;
    overflow: auto;
    margin: 2%;
}

div.voting_section * {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

div.voting_section button {
    background-color: transparent;
    border-style: none;
    outline: none;
    font-size: 1.5em;
    font-weight: bold;
    color: #A9ADD9;
}

div.voting_section button:hover {
    color: #7C82BB;
}

/* This is a wierd bit of css that stops floated elements inside post_container
 * from collapsing */
div.post_container:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}

.upvoted > div.voting_section > button.upvote_btn {
    color: #7C82BB;
}

.downvoted > div.voting_section > button.downvote_btn {
    color: #7C82BB;
}
