<html ng-controller="homectrl">
    <div class="post_container" ng-repeat="post in posts">
        <div class="post" ng-class="{upvoted:post.upvoted,downvoted:post.downvoted}">
            <div class="title">
                {{post.title}}<br>
            </div>
            <div class="body">
                {{post.body}}<br>
            </div>
        </div>
        <div class="voting_section">
            <button class="upvote_btn" ng-click="upvote(post.id)">
                +
            </button>
            <div class="countdown">
                {{post.time_str}}
            </div>
            <button class="downvote_btn" ng-click="downvote(post.id)">
                -
            </button>
        </div>
        <div class="comments">
            <button class="comments_btn" ng-click="comments(post.id)">
                comments ({{post.comment_count || 0}})
            </button>
        </div>
    </div>
    <button class="float_add_btn" ng-click="addPost()">+</button>
</html>
