<html ng-controller="homectrl">
    <div>
        {{test}}
    </div>
    <div class="post_container" ng-repeat="post in posts">
        <div data-id={{post._id}} class="post">
            <div class="title">
                {{post.title}}<br>
            </div>
            <div class="body">
                {{post.body}}<br>
            </div>
        </div>
    </div>
    <form ng-submit="addCustomPost()">
        <input type="text" ng-model="title" />
        <button type="submit">Post</button>
    </form>
    <button class="float_add_btn" ng-click="addPost()">+</button>
    <a href="#/new">new post</a>
</html>
