<html>
    <div ng-repeat="post in posts track by $index">
        <div class="post_container" ng-controller="postctrl">  
            <form ng-submit="deletePost(post)"> 
                <button type="submit">delete</button>
            </form>
            Post id:<br>
            {{post.id}}<br>
            Time Remaining:<br>
            {{post.timeLeft}}<br>
            Set time remaining:
            <form ng-submit="setTimeRemaining(post, secondsToShowFor)">
                    <input type="number" ng-model="secondsToShowFor" />
                    <button type="submit">Post</button>
            </form>
            <div class="post">
                <div class="title">
                    {{post.title}}
                </div>
                <div class="body">
                    {{post.body}}
                </div>
            </div>
        </div>
        <div ng-repeat="comment in post.comments track by $index">
            {{comment.body}}<br>
            <form ng-submit="deleteComment(post, comment)"> 
                <button type="submit">delete</button>
            </form>
            ______________________
        </div>
    </div>
</html>
